.input {
    font-size: 18px;
    margin-bottom: 70px;
    height: 40px;
    width: 80%;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 3px 3px 2px rgb(149, 245, 140);;
  }
  
  .input:focus {
    color: rgb(17, 19, 19);
    outline-color: rgb(149, 245, 140);
    box-shadow: -3px -3px 15px rgb(149, 245, 140);;
    transition: .1s;
    transition-property: box-shadow;
  }

  /* button CSS */

  button{
    cursor: pointer;
    margin-bottom: 50px;
  }